.App {
  text-align: center;
  display: grid;
  place-content: center;
  /* place-items: center; */
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

button {
  font-size: calc(10px + 2vmin);
}

table {
  background-color: royalblue;
}